*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    padding-top: 80px;
    background-color: #eff0f5;
    font-family:  Helvetica,Tahoma,Arial,Sans-serif;
}
.rack{
    padding: 50px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #ffffff;
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    
}
.head{
    display: flex;
    justify-content: center;  
}
.image{
    width: 300px;
    height: 300px;
    align-self: center;
    padding-bottom: 10px;
}
.home-cont{
    display: flex;
    flex-direction: column;
}
.price{
    align-self: center;
}
.desc{
    align-content: center;
    padding-top: 20px; 
}
.btn{
    background-color: #007bff;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    width: 90px;
    height: 30px;
    padding-top: 3px;
    color: white;
    display: inline;
}

.rack2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.rack2 div a{
    color: black;
}

