*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  Helvetica,Tahoma,Arial,Sans-serif;
}

.logo{
    width: 150px;
    cursor: pointer;
}
.navigation{
    width: 100%;
    margin: 0 auto;
}

.navigation a{
    font-size: 20px;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #ffffff;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
nav li {
    margin-left: 1em;
}
nav a {
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    color: #fd5f00;
}

.cart{
    margin-right: 30px;
}
.cart a{
    text-decoration: none;
    margin-left: 1em;
}
.cart a:hover{
    color: #f95031;
}


.foot{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    background-color: #ffffff;
    bottom: 0;
}


@media  screen and (max-width: 660px) {
    .navigation {
        text-align: center;
        flex-direction: column;
       
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav li a{
        margin: 0.8em 0;
    }
}


